@inject NavigationManager navManager

<div class="item-entry">
    <div class="item-entry-text" @ondblclick="(() => OpenDetails(Item))">
        <div>
            <div @onclick="(() => OpenDetails(Item))" class="item-entry-text-title">
                 @Item.Title
            </div>
        </div>
        <p class="item-entry-text-description">@Item.Description</p>
    </div>
</div>

@code {

    [Parameter]
    public ItemModel Item { get; set; }


    private void OpenDetails(ItemModel item)
    {
        navManager.NavigateTo($"Details/{item.Id}");
    }

    private string GetItemCategoryClass(ItemModel item)
    {
        if (item is null || item.ItemStatus is null)
        {
            return "item-entry-status-none";
        }

        string output = item.ItemStatus.StatusName switch
        {
            "PBI" => "item-entry-category-pbi",
            "Bug" => "item-entry-category-bug",
            _ => "item-entry-status-none",
        };

        return output;
    }
}
