@page "/SampleData"
@inject ICategoryData categoryData
@inject IStatusData statusData
@inject IUserData userData
@inject IItemData itemData

<h3>SampleData</h3>

@if (categoriesCreated)
{
    <h4>Categories have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateCategories">Create Categories</button>
}

@if (statusesCreated)
{
    <h4>Statuses have been created</h4>
}
else
{
    <button class="btn btn-primary" @onclick="CreateStatuses">Create Statuses</button>
}

<button class="btn btn-danger" @onclick="GenerateSampleData">Generate Sample Data</button>


@code {

    private bool categoriesCreated = false;
    private bool statusesCreated = false;

    private async Task GenerateSampleData()
    {
        UserModel user = new()
            {
                FirstName = "Jakov",
                LastName = "Konta",
                EmailAddress = "jakov@test.com",
                DisplayName = "Sample Jakov Konta",
                ObjectIdentifier = "abc-123"
            };
        await userData.CreateUser(user);

        var foundUser = await userData.GetUserFromAuthentication("abc-123");
        var categories = await categoryData.GetAllCategories();
        var statuses = await statusData.GetAllStatuses();

        ItemModel item = new()
            {
                Author = new BasicUserModel(foundUser),
                ItemCategory = categories[0],
                Title = "Our First Item",
                Description = "This is an item created by sample data generation method"
            };

        await itemData.CreateItem(item);

        item = new()
            {
                Author = new BasicUserModel(foundUser),
                ItemCategory = categories[1],
                Title = "Our Second Item",
                Description = "This is an item created by sample data generation method",
                ItemStatus = statuses[0]
            };

        await itemData.CreateItem(item);

        item = new()
            {
                Author = new BasicUserModel(foundUser),
                ItemCategory = categories[0],
                Title = "Our Third Item",
                Description = "This is an item created by sample data generation method",
                ItemStatus = statuses[1]
            };

        await itemData.CreateItem(item);

        item = new()
            {
                Author = new BasicUserModel(foundUser),
                ItemCategory = categories[1],
                Title = "Our Fourth Item",
                Description = "This is an item created by sample data generation method",
                ItemStatus = statuses[2]
            };

        await itemData.CreateItem(item);

        item = new()
            {
                Author = new BasicUserModel(foundUser),
                ItemCategory = categories[0],
                Title = "Our Fifth Item",
                Description = "This is an item created by sample data generation method",
                ItemStatus = statuses[2]
            };

        await itemData.CreateItem(item);
    }

    private async Task CreateCategories()
    {
        var categories = await categoryData.GetAllCategories();

        if (categories?.Count > 0)
        {
            return;
        }

        CategoryModel cat = new()
        {
            CategoryName = "PBI",
            CategoryDescription = "Product Backlog Item"
        };

        await categoryData.CreateCategory(cat);

        cat = new()
            {
                CategoryName = "Bug",
                CategoryDescription = "Error, flaw or fault in the design, development, or operation of computer software"
            };

        await categoryData.CreateCategory(cat);

        categoriesCreated = true;
    }

    private async Task CreateStatuses()
    {
        var statuses = await statusData.GetAllStatuses();

        if (statuses?.Count > 0)
        {
            return;
        }

        StatusModel stat = new()
            {
                StatusName = "New",
                StatusDescription = "Newly create, not assigned PBIs."
            };

        await statusData.CreateStatus(stat);

        stat = new()
            {
                StatusName = "In Progress",
                StatusDescription = "Assigned and in execution."
            };

        await statusData.CreateStatus(stat);

        stat = new()
            {
                StatusName = "In Testing",
                StatusDescription = "Impelemtation done, testing phase."
            };

        await statusData.CreateStatus(stat);

        stat = new()
            {
                StatusName = "Done",
                StatusDescription = "Fully completed and on master."
            };

        await statusData.CreateStatus(stat);

        statusesCreated = true;
    }


}
